.my-button {
    background: transparent;
    border: none;
}

.my-button.pressed {
    transform: scale(0.8);
}

.icon {
    color: aliceblue;
}

.icon.play-icon {
    font-size: 8vb;
    padding: 2vb;
}

.erase-wall {
    position: absolute;
    font-size: 1.5vi;
    bottom: -5.5vh;
    left: 9.8vw;
}
