.node {
    width: 28px;
    height: 28px;
    border: 1px solid black;
    box-sizing: border-box;
}

.node.start-node {
    background-color: aqua;
    animation: pulse 400ms ease-in-out forwards;
}

.node.end-node {
    background-color: coral;
    animation: pulse 400ms ease-in-out forwards;
}

@keyframes pulse {
    0% {
        transform: scale(0.2);
    }
    100% {
        transform: scale(1);
    }
}

