.node {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    margin: 0.03rem;
    /*
    The box-sizing: border-box; is to make sure that the border is included
    in the width and height of the element, so the element will be square.
    */
    box-sizing: border-box;
}

/*
display: flex will make the nodes align horizontally in the same row.
*/
.row {
    display: flex;
}

.grid {
    width: calc(80% - (20 * 0.03rem));
    margin: auto;
    padding-top: 10%;
}


